<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="user-count">
        <%= count %>
            <span>Total Users</span>
    </div>


    <a href="/user/new" class="btn-link">Join Us</a>
    <a href="/user" class="btn-link">View Users</a>

</body>

</html>