<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <h2>Interpolation Syntax</h2>
    <!-- wont evalute the statement -->
    <h3>1+2</h3> 
    <h3><%=1+2%></h3>
    <h3><%="daksh".toUpperCase()%></h3>
    <h3><%=["a", "b", "c"][0]%></h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, laudantium quas dolore ab saepe quia fuga culpa, vero dolorum animi facilis nemo esse quasi excepturi! Laborum et culpa inventore atque.
        Reiciendis, delectus esse repudiandae voluptate assumenda deserunt! Qui expedita explicabo quis obcaecati ipsum dolorem, pariatur omnis voluptates soluta nostrum odit, inventore rem quos sint saepe? Culpa at maxime non voluptates.
        Recusandae amet quasi suscipit nam eaque neque porro doloribus! Consequatur at voluptatem ad, magnam molestiae fuga temporibus cumque blanditiis corrupti, voluptate mollitia perspiciatis deleniti voluptatum eaque ullam necessitatibus asperiores quibusdam?
        Id nihil vel soluta exercitationem itaque sed enim molestiae est perspiciatis aliquid? Magni quisquam blanditiis harum iste quas quidem dolorum temporibus aliquam laborum! Dignissimos, dolor? Distinctio molestias magnam recusandae iusto.
        Voluptatem cum corrupti aut repellendus perspiciatis ab voluptas eveniet, repellat laudantium numquam atque blanditiis voluptatum asperiores modi. Nobis, in minus iusto qui totam nulla aspernatur magni, corporis accusamus laudantium cupiditate?
    </p>
    <button>
        Click Me!
    </button>
</body>
</html>