.Product{
    border: 8px solid white;
    border-radius: 24px;
    margin-bottom: 1rem;
}

li{
    list-style-type: none;
    border: 4px solid #9ace11;
    border-radius: 1rem;
    display: inline-block;
    padding: .5rem 2rem;
    margin: 6px auto;
    margin-right: 1rem;
}