.price-box {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.new-price {
  font-size: 18px;
  font-weight: bold;
  color: #00e676;
}
